{% extends "base.html" %}

{% block title %}Media Collection{% endblock title %}

{% block content %}
<div class="media-collection">
    <h1>Media Collection</h1>
    <div class="media-types">
        <a href="movies.html" class="media-type movies">
            <span class="material-icons">movie</span>
            <h2>Movies</h2>
            <p>{{ movie_count }} Movies</p>
        </a>
        <a href="tv.html" class="media-type tv-shows">
            <span class="material-icons">tv</span>
            <h2>TV Shows</h2>
            <p>{{ tv_count }} Series</p>
        </a>
    </div>
</div>
{% endblock content %}
